<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Antea25</title>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125790210-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-125790210-1');
    </script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/ol.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/ol.css" rel="stylesheet" />
        <!-- <link rel="stylesheet" href="~/css/bootstrap.min.css" /> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #f2f0f0 !important">
        <div class="container">
            <a class='navbar-brand'><img src="~/images/antea25Logo.png" style="height:50px;" /></a>
            <a class='navbar-brand' style="font-size:xx-large;color:gray;margin-top:5px">BTracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto" style="margin-top:10px !important;color:gray">

                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="MyDevice" asp-action="Index"><i class="fas fa-map-marker-alt"></i> My devices</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Loc" asp-action="Index"><i class="fas fa-globe-americas"></i> Track me</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

        <!-- Begin page content -->
        <div class=" body-content">
            @RenderBody()
        </div>

        <div id="push"></div>
    </div>

    @*<footer id="footer" style="background-color: #ecf0f1;padding: 10px;">
        <img src="~/images/LoRaWAN.png" style="max-height:50px;" />
        <img src="~/images/TheThingNetwork.svg" style="height:50px;" />
        <img src="~/images/mongo-db-design.png" style="height:30px;margin-left: 15px" />

        <img src="~/images/Ionic_Logo.svg.png" style="height:25px;margin-left: 15px" class="hidden-xs" />
        <img src="~/images/netCore.svg" style="height:25px;margin-left: 15px" class="hidden-xs" />
        <img src="~/images/AngularJS_logo.svg.png" style="height:25px;margin-left: 15px" class="hidden-xs" />
        <p>&copy; 2018 - Antea25 - version 1.5</p>
    </footer>*@

    <footer class="py-5 bg-dark">
        <div class="container">
            <img src="~/images/LoRaWAN.png" style="max-height:50px;" />
            <img src="~/images/TheThingNetwork.svg" style="height:50px;" />
            <img src="~/images/mongo-db-design.png" style="height:30px;margin-left: 15px" />

            <img src="~/images/Ionic_Logo.svg.png" style="height:25px;margin-left: 15px" class="hidden-xs" />
            <img src="~/images/netCore.svg" style="height:25px;margin-left: 15px" class="hidden-xs" />
            <img src="~/images/AngularJS_logo.svg.png" style="height:25px;margin-left: 15px" class="hidden-xs" />
            <p style="color:whitesmoke">&copy; 2018 - Antea25 - version 1.6</p>
        </div>
        <!-- /.container -->
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/Angular/angular.min.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js" asp-append-version="true"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

<!-- <body>



    <div class="container-fluid body-content">
        @RenderBody()
       <div id="push"></div>

    </div>
    <footer id="footer" style="background-color: silver;padding: 10px;">
             <img src="~/images/LoRaWAN.png" style="height:70px;" />
             <img src="~/images/TheThingNetwork.svg" style="height:70px;" />
            <p>&copy; 2018 - Antea25 - version 1.5</p>
    </footer>




</body> -->
</html>
